ESC-Dataset-for-Environmental-Sound-Classification.ipynb
ESC-50-master.zip
ESC-50-master
Report_template
ESC-50-master_backup
theory
references.bib
.ipynb_checkpoints/
*.csv
audio*
__pycache__
idea.txt
backup
augmented_clips

*.tfrecords
*.tar.xz
hope.py
Notebook1.py~
